/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  
}

.main{
  
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


.cards_item h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.cards_item img {
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
  align-items: center;
}

.btn_card {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
  margin: 0 auto;
  gap: 10px;
}

.cards_item {
  display:-moz-box;
  padding: 1rem;
}

@media (min-width: 10rem) {
  .cards_item {
    width: 30%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display:-moz-box;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 0.4rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
/* .card img{
  max-height: 300px;
  min-height: 300px;
} */
.card{
  position: relative;
  margin: 10px 10px 10px 10px;
}
.card-body{
  display: flex;
  flex-direction: column;
}
.Favorito{
  margin: 8px;
  font-size: 30px;
  position: absolute;
  right: 0;
  color: black;
}
.linkFav{
  list-style: none;
}
.text{
  text-align: center;
  justify-content: center;
}
.text h1{
  margin-top:35px;
  color: white;
}
.products_body{
  background: transparent;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 92vh;
}
.wrapper{
  width: 450px;
  height:500px;
  background: transparent;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  transform: scale(0.93);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover{
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

.wrapper .container{
  width: 100%;
  height: 100%;
}

.wrapper .container .top{
  height: 80%;
  width: 100%;
  background-size: 100%;
}

.wrapper .container .bottom{
  width: 100%;
  height: 20%;
  transition: transform 0.5s;
}

.wrapper .container .bottom .left{
  height: 100%;
  width: 100%;
  background: #f4f4f4;
  position: relative;
  float: left;
}

.wrapper .container .bottom .left .details{
  padding-left: 20px;
  
  float: left;
  width: calc(80% - 10px);
}

.wrapper .container .bottom .left .details .txt_products{
  font-size: 25px;
  color: #EF8D9C;

}

.wrapper .container .bottom .left .buy{
  float: right;
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0,0,0,0.1);
 
}
.wrapper .container .bottom .left .buy i{
  font-size: 30px;
  padding: 30px;
  color: #FF6962;
  transition: transform 0.5s;
}

.wrapper .container .bottom .left .buy:hover i{
  transform: rotate(360deg);
}



.wrapper .inside{
  background: #FF6962;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}

.wrapper .inside .icon{
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}

.wrapper .inside:hover{
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon{
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents{
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}

.wrapper .inside .contents{
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s,transform 0.8s;
}
.wrapper .inside .contents h1,
.wrapper .inside .contents p{
  color: white;
}

.wrapper .inside .contents p{
  font-size: 19px;
}

/*.link_InfoLibro{
  display: block; 
  width: 100%;
  height: 100%;
}*/