*{
    
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*.web_Container{
    height: 100%;
    width: 100%;
    display: flex;
    background: white;
}*/

.web_Container{
    min-width: 460px;
}

/*MAIN*/
.mainCarro{
    max-height: max-content;
    min-height: 80vh;
    display: flex;
    flex-flow: column;
    width: 80%;
    padding-bottom: 100px;
    align-items: center;
    margin: 0 auto;
}

.button_Volver_Menu{
    color: rgb(107, 107, 107);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 17px;
    text-decoration: none;
    padding: 30px;
    border: none;
    background: transparent;
    text-align: start;
    align-self: flex-start;
}

.button_Volver_Menu:hover{
    color: rgb(235, 98, 98);
    cursor: pointer;
}

.h2_Carrito{
    align-self: center;
    font-style: normal;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.01em;
    color: rgb(79, 98, 118);
}



.carrito_Container{
    width: 70%;   
    display: flex;
    padding:  50px;
    flex-flow: row wrap;
    background-color: rgb(255, 255, 255);
    height: max-content;
    gap: 50px;
    
    
}


.footer{
    background: rgb(240, 240, 243);
    border-top: 1px solid #eee;
    line-height: 1;
    font-size: 13px;
    height: 90px;
    font-weight: 400;
}

.footer__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.footer__li{
   padding: 10px 15px;
   
}
/*MAIN*/

.carrito_Venta{
    width: 100%;
    box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 24%);
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 10px;
}
@media screen and (max-width :1120px) {
    .carrito_Venta {
        flex-direction: column;
    }
    .container_Libro{
        grid-template-columns: auto;
        
    }
}
.carrito_SubContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 24%);
    border-radius: 6px;
    height:max-content;
}

.container_Info_Libro{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    min-width: 450px;
}
.container_Libro{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    min-width: 450px;
}

.Libro_Info_General{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 23px;
    line-height: 20px;
    font-family: 'Anton', sans-serif;
}

.imagen_Autor_Libro_General{
    
    color: black;
    padding-left:20px;
}
.titulo_Libro_General{
    
    color: black;
    padding-left: 5px;
}
.precio_Libro_General{
    padding-left: 20px;
    color: black;
    grid-column: 3/5;
}
.carro_hr{
    grid-column: 1/5;
}
.imagen_Libro_Particular{
    width: 115px;
    height: 155px;
    border-radius: 0.3rem;
    background-color: transparent;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 1px 2px);
    object-fit: cover;
}
.Libro_Imagen_Autor{
    padding: 10px 0px 20px 20px;
   
}

.autor_Libro_Particular{
    font-style: normal;
    font-weight: normal;
    font-size: 0.99rem;
    letter-spacing: -0.01em;
    text-align: left;
    padding-left: 2px;
    color: rgb(103, 109, 115);
}
.titulo_Libro_Particular{
    align-self: center;
    color: #414141;
    padding-left: 5px;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
}
.precio_Libro_Particular{
    align-self: center;
    padding-left: 20px;
    color: #0e0d0d;
    line-height: 36px;
    font-size: 19px;
    font-weight: bold;
}
.btn_Delete_Libro{
 border: none;
 outline: none;
 height: max-content;
 width: max-content; 
 align-self: center;
 font-size: 19px;
}
.fa-trash{
    width:max-content;
    transition: all .2s;
    font-size: 20px;
    transition: transform .1 ease-in-out;
}
.fa-trash:hover{
    cursor: pointer;
    color: red;
    transform: perspective(1000px)translateZ(5rem)   
}

#DivMP{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    
}

.container_Button_Compras{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.TotalCompra{
    font-size: 1.3rem !important;
    font-weight: 300;
    margin: 10px 0px 15px 0px;
    text-align: center;
}

.BotonCompra{
    background-color:rgb(235, 98, 98);
    border: none;
    margin: 0 auto;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    line-height: 48px;
    width: 150px;
    transition: all .3s;
    border: 1px solid white;
}



.BotonCompra:hover{
    cursor: pointer;
    background-color:rgba(235, 98, 98, 0.8);
}

.carrito_Vacio{
    font-size: 13px;
    color: rgb(216, 48, 42);
    font-weight: bold;
    align-self: center;
    margin-bottom: 10px;
}
.carrito_Vacio p{
    padding-bottom: 10px;
}
.carrito_Vacio img{
    width: 200px;
    height: 200px;
}

@media screen and (max-width:1190px){
    .titulo_Libro_General,
    .imagen_Autor_Libro_General{
        text-align: center;
    }
}
@media screen and (max-width:860px){
    .mainCarro{
        background-color: transparent;
        
    }
    .carrito_Flex_Container{
        box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 24%);
        min-width: 460.75px;
    }
}
