#root {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #FFFFFF;
}

.content__main_grid{
    display: grid;
    grid-template-rows: 500px 1fr;
    grid-template-columns: 1fr;
    background: #FFFFFF;
    width: 80%;
    margin: 20px 0 30px 0;
    box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 24%);
    border-radius: 6px;
}

.content__main_grid div{
    border-radius: 12px;
}

/* gridChild */

#gridChild {
    display: grid;
    grid-template-rows: 70% 30%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    padding: 3%;
}

.btn-close {
    margin: 15px;
    font-size: 32px;
}

.modal-content{
    border-radius: 12px;
}

#libroImagenModal {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #000000;
}

#libroImagen {
    width: 230px;
    height: 320px;
    object-fit:cover;
    justify-self: center;
    border-radius: 12px;
    cursor: pointer;
}

#libroImagen2 {
    width: 100%;
    height: 100%;
    justify-self: center;
    border-radius: 12px;
    cursor: pointer;
}

#modalId {
    padding: 5px;
}

#contentButtons{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#contentButtons button{
    font-size:20px;
    background: #FFFFFF;
    width: 250px;
    height: 40px;
    margin: 5px;
    border-radius: 20px;
    border: #000000 solid 1px;
}

#RedesSociales {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

#RedesSociales a {
    display: inline-flex;
    color: #FFFFFF;
    width: 48px;
    height: 48px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px;
    font-size: 20px;
}

#RedesSociales a :hover {
    transform: scale(1.3);
}

#RedesSociales #facebookBtn {
    transition: all 300px;
    position: relative;
    background-color: #3c70a4;
}

#RedesSociales #twitterBtn {
    background-color: #5bd1d7;
}

#RedesSociales #instagramBtn {
    background-color: #bb7171;
}

#RedesSociales #favoritoBtn {
    background-color: #FFFFFF;
    color: #FF6962;
    cursor: pointer;
    background: #d9d9d9;
}

#contentVolver {
    display: inline;
    justify-self: flex-start;
}

#botonVolver{
    display: flex;
    padding: 0;
    margin-left: 10%;
    justify-self: flex-start;
}

/* gridChild2 */

h1 {
    font-size: 1.3vw;
    font-family: sans-serif;
}

#gridChild2 {
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 2%;
    min-width: 300px;
}

#titulo {
    font-size: 23px;
    padding: 12px 0 5px 0;
    margin: 0;
}

hr {
    width: 100%;
    height: 80px;
    margin: 10px 0 10px 0;
}

#libroAutor {
    font-size: 18px;
    padding-bottom: 12px;
    margin: 0;
    font-weight:bold;
    font-family: sans-serif;
}

#libroResenia {
    font-size: 15px;
}

#libroResenia2 {
    font-size: 15px;
}

#fichaT {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}

#hrFT {
    width: 90%;
    margin: 8px 0;
}

#libroEditorial {
    font-size: 16px;
}

#fechaPublicacionLibro {
    font-size: 16px;
}

#generoLibro {
    font-size: 16px;
}

#isbnLibro {
    font-size: 16px;
}

/* gridChild3 */

#gridChild3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 10px;
    height: 80%;
}

#gc3Compra {
    display: flex;
    flex-direction: column;
    margin: 12px;
    box-shadow: 0px 0px 9px 4px rgb(0 0 0 / 24%);
    border-radius: 12px;
    justify-items: center;
    align-items: center;
    margin-right: 20px;
}

#libroPrecio {
    font-size:25px;
    font-family: cursive;
    padding: 30px;
    margin: 0;
    padding: 20px 10px 10px 10px;
    color: #EB6262;
}

#cuotas{
    font-size: 16px;
    margin: 10px;
    padding: 0 10px 20px 10px;
}

#libroMP {
    font-size: 22px;
}

#DivMP {
    display: flex;
    align-items: center;
}

#DivMP img{
    width: 50%;
}

#libroBoton {
    font-size:20px;
    background: #FF6962;
    color: #FFFFFF;
    width: 280px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    align-self: center;
    margin: 8px;
}

/* gridChild5 */

#gridChild5 {
    margin: 10px;
}

#gridChild5 h1 {
    font-size: 20px;
    font-family: sans-serif;
}

#gridChild5 p {
    margin: 0;
    font-size: 15px;
    font-family: sans-serif;
    color: #EF6314;
}

#contenedorLibrosAutor {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 30px;
    padding: 10px 20px 30px 20px;
    border-radius: 5px;
    transition: all 300ms;
    margin: 0 20px 80px 20px;
}

#divLibros {
    display: grid;
    grid-template-rows: 250px;
}

#tituloLibroRecomendado {
    padding-top: 10px;
}

#gridChild5 #nombreAutorLista {
    color: green;
}

#libroImagen {
    box-shadow: 5px 5px 5px #000000;
}

.footer{
    background: rgb(240, 240, 243);
    border-top: 1px solid #eee;
    line-height: 1;
    font-size: 13px;
    height: 90px;
    font-weight: 400;
}

.footer__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.footer__li{
   padding: 10px 15px;
}

@media screen and (min-width: 900px){

    .content__main_grid{
        display: grid;
        grid-template-rows: 520px 380px 1fr;
        grid-template-columns: 300px 1fr;
        background: #FFFFFF;
        width: 80%;
        margin: 20px 0 30px 0;
        box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 24%);
        border-radius: 12px;
        min-width: 700px;
    }
    
    /* gridChild */
    
    #gridChild {
        display: grid;
        grid-template-rows: 65% 35%;
        height: 100%;
        justify-content: center;
        justify-items: center;
        padding: 6%;
        padding-right: 2%;
    }
    
    /* gridChild2 */

    #libroAutor {
        font-size: 1.6vw;
        padding-bottom: 12px;
        margin: 0;
        font-weight:bold;
        font-family: sans-serif;
    }
    
    #libroResenia {
        font-size: 1.6vw;
    }
    
    #libroResenia2 {
        font-size: 1.2vw;
    }
    
    #fichaT {
        font-size: 1.5vw;
        font-weight: bold;
        margin: 0;
        padding-top: 5px;
    }
    
    #hrFT {
        width: 33vw;
        margin: 8px 0;
    }
    
    #libroEditorial {
        font-size: 1.4vw;
    }
    
    #fechaPublicacionLibro {
        font-size: 1.4vw;
    }
    
    #generoLibro {
        font-size: 1.4vw;
    }
    
    #isbnLibro {
        font-size: 1.4vw;
    }
    
    /* gridChild3 */
    
    #gridChild3 {
        display: grid;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        border-radius: 10px;
        height: 80%;
    }
    
    /* gridChild5 */
    
    #gridChild5 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        margin: 10px;
    }
    
    @media screen and (min-width: 1315px){
        .button_Volver_Menu{
            display: flex;
            justify-self: flex-start;
            margin-left: 10%;
            margin-top: 1%;
            padding: 0;
        }
    
        .content__main_grid {
            display: grid;
            grid-template-columns: 280px 1fr 320px;
            grid-template-rows: 1fr;
            background: #FFFFFF;
            width: 80%;
            box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 24%);
            margin: 20px 0 30px 0;
            border-radius: 12px;
        }
    
        /* gridChild */
    
        #gridChild {
            display: grid;
            grid-template-rows: 70% 30%;
            justify-content: center;
            justify-items: center;
        }
    
        #modalId {
            padding: 10px;
        }
    
        /* gridChild2 */
    
        h1 {
            font-size: 1.3vw;
            font-family: sans-serif;
        }
    
        #titulo {
            font-size: 1.7vw;
            padding: 12px 0 5px 0;
            margin: 0;
        }
    
        #libroAutor {
            font-size: 1.15vw;
            padding-bottom: 12px;
            margin: 0;
            font-weight:bold;
            font-family: sans-serif;
        }
    
        #libroResenia {
            font-size: 1.1vw;
        }
    
        #libroResenia2 {
            font-size: 1.1vw;
        }
    
        #fichaT {
            font-size: 1.2vw;
            font-weight: bold;
            margin: 0;
            padding-top: 5px;
        }
    
        #libroEditorial {
            font-size: 1vw;
        }
    
        #fechaPublicacionLibro {
            font-size: 1vw;
        }
    
        #generoLibro {
            font-size: 1vw;
        }
    
        #isbnLibro {
            font-size: 1vw;
        }
    
        /* gridChild3 */
    
        #gridChild3 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            border-radius: 10px;
            height: 80%;
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
    
        #libroPrecio {
            font-size:1.5vw;
            font-family: cursive;
            padding: 30px;
            margin: 0;
            padding: 20px 10px 10px 10px;
            color: #EB6262;
        }
    
        #cuotas{
            font-size: 1vw;
            margin: 10px;
            padding: 0 10px 20px 10px;
            font-weight: normal;
        }
    
        #libroMP {
            font-size: 1.1vw;
        }
    
        #DivMP {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        #DivMP img{
            width: 90%;
        }
    
        #DivMP #paypal{
            width: 50%;
            padding-bottom: 30%;
        }
    
        #libroBoton {
            width: 220px;
            margin-bottom: 10px;
        }
    
        /* gridChild5 */
    
        #gridChild5 {
            grid-column: 1 / 4;
            grid-row: 2 / 2;
            margin: 10px;
        }
    
        #gridChild5 h1 {
            font-size: 25px;
        }
    
        #contenedorLibrosAutor {
            display: grid;
            grid-gap: 30px;
            padding: 10px 20px 30px 20px;
            border-radius: 5px;
            transition: all 300ms;
            margin: 0 20px 25px 20px;
        }
}


}

