*{
    background: none;
}

.content__main_grid{
    /* display: flex;
    flex-wrap: wrap;
    flex-grow: 1; */
}

@media screen and (min-width: 1315px){
    #root {
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: #CEC0C0;
    }

    .button_Volver_Menu{
        display: flex;
        justify-self: flex-start;
        margin-left: 10%;
        margin-top: 1%;
        padding: 0;
    }

    .content__main_grid {
        display: grid;
        grid-template-columns: 300px 1fr 300px;
        grid-template-rows: 700px 1fr;
        background: #E5E5E5;
        width: 80%;
        margin: 20px 0 30px 0;
        border-radius: 10px;
    }

    .content__main_grid div{
        border-radius: 10px;
    }

    /* gridChild */

    #gridChild {
        display: grid;
        grid-template-rows: 70% 30%;
        height: 80%;
        justify-content: center;
        justify-items: center;
        padding: 6%;
        padding-right: 2%;
    }
    
    #libroImagen {
        width: 100%;
        height: 100%;
        justify-self: center;
        border-radius: 10px;
        cursor: pointer;
    }

    #libroImagenModal {
        width: 100%;
    }

    .btn-close {
        display: flex;
        background-color: red;
        align-self: flex-end;
        font-size: 25px;
        margin: 5px;
    }

    #modalId {
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    #contentButtons{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    #contentButtons button{
        font-size:20px;
        background: #FFFFFF;
        width: 250px;
        height: 40px;
        margin: 5px;
        border-radius: 20px;
        border: #000000 solid 1px;
    }

    #RedesSociales {
        display: flex;
        justify-content: space-evenly;
        margin: 10px;
    }

    #RedesSociales a {
        display: inline-flex;
        color: #FFFFFF;
        width: 48px;
        height: 48px;
        background-color: #000000;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 50%;
        margin: 0 6px;
        font-size: 20px;
    }

    #RedesSociales a :hover {
        transform: scale(1.3);
    }

    #RedesSociales #facebookBtn {
        transition: all 300px;
        position: relative;
        background-color: #3c70a4;
    }

    #RedesSociales #twitterBtn {
        background-color: #5bd1d7;
    }

    #RedesSociales #instagramBtn {
        background-color: #bb7171;
    }

    #RedesSociales #favoritoBtn {
        background-color: #FFFFFF;
        color: #FF6962;
        cursor: pointer;
    }

    #contentVolver {
        display: inline;
        justify-self: flex-start;
    }

    /* gridChild2 */

    h1 {
        font-size: 1.3vw;
        font-family: sans-serif;
    }

    #gridChild2 {
        display: flex;
        flex-direction: column;
        padding: 0 2% 0 2%;
        min-width: 300px;
        height: 80%;
    }

    #titulo {
        font-size: 1.7vw;
        background: #E5E5E5;
        padding: 12px 0 5px 0;
        margin: 0;
    }

    hr {
        width: 100%;
        height: 80px;
        margin: 10px 0 10px 0;
    }

    #libroAutor {
        font-size: 1.1vw;
        font-family: Verdana;
        background: #E5E5E5;
        padding-bottom: 12px;
        margin: 0;
    }

    #libroReseña {
        font-size: 1.2vw;
        font-family: Verdana;
        background: #E5E5E5;
        padding-bottom: 10px;
    }

    #libroFicha {
        font-size: 1.4vw;
        font-family: Verdana;
    }

    #libroEditorial {
        font-size: 1.3vw;
        font-family: Verdana;
        background: #E5E5E5;
    }

    #fechaPublicacionLibro {
        font-size: 1.3vw;
        font-family: Verdana;
        background: #E5E5E5;
    }

    #generoLibro {
        font-size: 1.3vw;
    }

    #isbnLibro {
        font-size: 1.3vw;
    }

    /* gridChild3 */

    #gridChild3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        border-radius: 10px;
        height: 80%;
    }

    #gc3Compra {
        display: flex;
        flex-direction: column;
        margin: 12px;
        border: grey solid .5px;
        border-radius: 10px;
        justify-items: center;
        align-items: center;
    }

    #libroPrecio {
        font-size:1.5vw;
        font-family: cursive;
        background: #E5E5E5;
        padding: 30px;
        margin: 0;
        padding: 20px 10px 10px 10px;
        color: #EB6262;
    }

    #cuotas{
        font-size: 1.1vw;
        font-family: Verdana;
        margin: 10px;
        padding: 0 10px 20px 10px;
        font-weight: normal;
    }

    #libroBoton {
        font-size:20px;
        background: #FF6962;
        color: #FFFFFF;
        width: 220px;
        height: 40px;
        border: 0;
        border-radius: 20px;
        align-self: center;
        margin: 8px;
    }

    /* gridChild5 */

    #gridChild5 {
        grid-column: 1 / 4;
        grid-row: 2 / 2;
        margin: 10px;
    }

    #gridChild5 h1 {
        font-family: sans-serif;
    }

    #gridChild5 p {
        margin: 0;
        font-size: .8vw;
        font-family: sans-serif;
    }

    #contenedorLibrosAutor {
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        grid-template-rows: 200px;
        grid-gap: 30px;
        padding: 10px 20px 30px 20px;
        border-radius: 5px;
        transition: all 300ms;
        margin: 0 20px 80px 20px;
    }

    #contenedorLibrosAutor :hover{
        transform: scale(1.01);
    }

    #contenedorLibrosAutor :hover{
        transform: scale(1.01);
    }

    #tituloLibroRecomendado {
        padding-top: 10px;
    }

    #nombreAutorLista {
        color: green;
    }
    
    .footer{
        background: rgb(240, 240, 243);
        border-top: 1px solid #eee;
        line-height: 1;
        font-size: 13px;
        height: 90px;
        font-weight: 400;
    }
    
    .footer__ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .footer__li{
       padding: 10px 15px;
    }


}

