@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*NAV*/
.nav_flex_Container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 10px;
    align-items: center;
  
}
.logo2 img{
    width: 60px;
    height: 60px;
}

.logo2{
    display: flex;
    align-self: center;
}
.logo{
    width: 10%;
    font-size: 40px;
    font-family: fantasy;
    color: rgb(235, 98, 98);
    align-self: center;
    margin-bottom: 0;
    
}
.nav_Search{
    width: 30%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid rgb(217, 218, 219);
    position: relative;
    align-self: center;
}
.search_Input{

    top: 11px;
    left: 18px;
    width: 300px;
    border-style: hidden;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgb(223, 228, 233);
    outline: none;
    position: absolute;
    background: transparent;

}
.search_Input::placeholder{
    color: rgb(235, 98, 98);;
}
.search_Button{
    right: -1px;
    top: -1px;
    border: 0px;
    height: 40px;
    width: 53px;
    background: rgb(255, 105, 98);
    padding: 0px;
    border-radius: 0px 6px 6px 0px;
    outline: none;
    position: absolute;

}

.search_Img{
    color: white;
    width: 18px;
    height: 19px;
    vertical-align: middle;
}


/*NAV MENU DESPLEGABLE*/

.Logged_Menu_Container{
    transition: transform .5s;
    padding-top: 5px;
    
 }
 
 .Logged_Menu_Item{
     position: relative;
     margin-bottom:5px;
     --clip : polygon(0 0, 100% 0, 100% 0, 0 0);
     --transform : rotate(-90deg);
 }
 
 .Logged_Menu_Item:hover{
     --clip : polygon(0 0, 100% 0, 100% 100%, 0% 100%);
     --transform : rotate(0deg);
 }
 
 .Logged_User_Container{
     padding: 5px 10px;
     border-radius: 3px 3px 3px 3px;
     background-color: rgb(255, 105, 98);
     transition: background-color .3s;
 }
 
 .Logged_User_Container:hover{
     background-color:white;
 }
 
 .Logged_User_Container svg path{
     fill:white;
     
 }
 
 .change_background_Logged_User{
     background-color:white ;
 }
 .change_icons_Logged_User{
     fill:#676D73 !important; 
 }
 
 .Logged_User_Container:hover .userIcon path{
     fill:#676D73;
 }
 .Logged_User_Container:hover .userMenuDownIcon path{
     fill:#676D73;
 }
 .Logged_Menu_Links{
     clip-path: var(--clip);
     transition: clip-path .3s;
     position: absolute;
     right: 0;
     bottom: 0;
     left: 0px;
     width: 250px;
     transform: translateY(100%);
     background-color: rgb(255, 255, 255);
     border: 1px solid rgb(232, 236, 238);
     border-right: 1px solid rgb(219, 221, 221);
     box-sizing: border-box;
     box-shadow: rgb(0 0 0 / 40%) 0px 0px 8px;
     border-radius: 3px 3px 8px 8px;;
     padding-top: 0px;
     padding-bottom: 0px;
     z-index: 100;
     margin-bottom: 0;
 }
 
 .particular_Links{
     padding: 25px 0px 25px 15px;
     display: flex;
     justify-content: flex-start;
     text-decoration: none;
     align-items: center;
     color: #4F6276;
 }
 
 .particular_Links:hover{
     color: rgb(235, 98, 98);
 }
 
 .userMenuDownIcon{
     
     transform: var(--transform);
     transition: transform .3s;
 }
 
 .Logged_Menu_User{
     text-decoration: none;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .Use_Logged_Menu{
     padding-left: 6px;
     font-family: Montserrat;
     font-size: 16px;
     font-style: normal;
     font-weight: 550;
     line-height: 17px;
     letter-spacing: -0.01px;
     margin-bottom: 0px;
 }
 .nombre_Usuario{
     padding: 0px 5px;
     color:#2a3138;
     font-family: Montserrat;
     font-size: 14px;
     font-style: normal;
     font-weight: 500;
     line-height: 17px;
     letter-spacing: -0.01em;
     margin-bottom: 0;
 }
 
 .Logged_User_Container:hover .nombre_Usuario{
     color: #4F6276;
 }
 
.Carrito_Icon{
    align-self: center;
    font-size: 30px;
}

.Carrito_Icon a{
    color: rgb(235, 98, 98);
}


.Carrito_Icon a:hover{
    color: rgb(235, 98, 98)!important;
    
}

.fa-cart-arrow-down{
    transition: all .2s;
    transition: transform .1 ease-in-out;
}

.fa-cart-arrow-down:hover{
    cursor: pointer;
    transform: perspective(1000px)translateZ(5rem); 
    
}

@media screen and (max-width:1024px)and (min-width:545px){

    
    .nav_flex_Container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        height: 150px;
        grid-template-rows: 1fr;
    }
    
    .logo{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .nav_Search{
        grid-row: 2/3;
        grid-column: 1/4;
        width: 100%;
        margin-bottom: 20px;
    }
    .Logged_Menu_Container{
        grid-row: 1/2;
        grid-column: 3/4;
        width: max-content;
        justify-self: flex-end;
        align-self: center;
    }

    .Carrito_Icon{
        grid-row: 1/2;
        grid-column: 2/3;
        justify-self: center;
        align-self: center;
    }
}

@media screen and (max-width:545px){
    .nav_flex_Container{
        height: max-content;
    }

    .nav_flex_Container{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
   
    .nav_Search{
        width: 100%;
    } 
   .Carrito_Icon{
       margin-top: 10px;
   }
   .Logged_Menu_Container {
       width: 100%;
   }
   .Logged_Menu_Links{
       width: 100%;
       border: 1px solid rgb(207, 213, 216);
       border-right: 1px solid rgb(219, 221, 221);
       box-sizing: border-box;
       border-top: transparent;
       box-shadow: rgb(0 0 0 / 40%) 1px 1px 2px 1px;
       border-radius: 3px 3px 8px 8px;
   }
   
   .logo2{
       padding: 5px;
   }
}

/* SEARCH NAV VAR */

.selector body {
	background: #f4f4f7;
	font-family: Montserrat;
}

.opciones a {
	text-decoration: none;
}

.contenedor {
	width: 100%;
	margin: auto;
	padding: 40px 0;
}

.selectbox {
	margin: auto;
	position: relative;
    z-index: 200;
}

.select {
	background: #fff;
	box-shadow: 0px 0px 0px rgb(235, 98, 98);
	border-radius: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .2s ease all;
	margin-bottom: 0.3rem;
	padding: 0.3rem;
	position: relative;
	border: 2px solid transparent;
}

.select.active,
.select:hover {
	box-shadow: 0px 5px 10px rgb(235, 98, 98);
	border: 2px solid rgb(235, 98, 98);
}

.select.active:before {
	display: block;
	border-top: 0.3rem solid rgb(235, 98, 98);
	border-right: 0.3rem solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 0.3rem solid transparent;
	position: relative;
	bottom: -30px;
	left: calc(50% - 15px);
}

.titulo {
	margin-bottom: 0.5rem;
	color: #000;
	font-weight: 550;
	font-size: 1.5rem;
}

.opciones {
    position: relative;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgb(235, 98, 98);
	overflow: auto;
}

.opciones.active {
	display: block;
	animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
	from {
		transform: translateY(-200px) scale(.5);
	}
	to {
		transform: translateY(0) scale(1);
	}
}

.contenido-opcion {
	display: flex;
	align-items: center;
	transition: .2s ease all;
}

.opciones .contenido-opcion {
	padding: 1.3rem;
}

.contenido-opcion img {
	width: 60px;
	height: 60px;
	margin-right: 30px;
    border-radius: 1rem;
}

.opciones .contenido-opcion:hover {
	background: rgb(235, 98, 98);
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion {
	color: #fff;
}

@media screen and (max-width: 2000px){
	.selectbox {
		width: 100%;
	}
}
