
/*HEADER*/

.header{
    max-width: 80%;
    min-width: max-content;
    margin: 0 auto;
}

.perfil{
    margin-top: 40px;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 24%);
    border-radius: 6px;
    width: 100%;
    display: flex;
    padding: 0px 10px 10px 20px;
    flex-direction: column;
}

.info_Personal{
    margin: 25px;
}
.container_Icon_Info_Usuario{
    display: flex;
    align-items: center;
}

.ul_Info_Usuario{
    display: flex;
    flex-direction: column;
    width: max-content;
    list-style: none;
    padding: 10px;
    margin-left: 9px;
    
}
.ul_Info_Usuario li{
    display: flex;
    min-width: 360px;
    padding: 8px 8px 8px 0px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(235, 98, 98);
  
    
}

.ul_Info_Usuario li p{
    font-size: 16px;
    color: rgba(0,0,0,.8);
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.35;
}

.ul_Info_Usuario li span{
    color: rgba(0,0,0,.45);
    padding: 0 10px;
    text-align: start;
}

.userIconPerfil_Container{
    border: 2px solid rgb(17, 18, 19);
    box-sizing: border-box;
    border-radius: 100%;
    width: 124px;
    height: 124px;
    max-width: 124px;
    max-height: 124px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px 10px 10px 20px;
}
.userIconPerfil_Container .fa-user{

    font-size: 90px;
    

}

@media screen and (max-width:740px){
    .container_Icon_Info_Usuario{
        flex-direction: column;
    }
}
/*HEADER*/
/*MAIN*/
hr{
    margin: 0px;
}
.main_Perfil{
    width: 80%;
    margin: 0 auto;
    background: #f3f0f0;
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 /24%);
    border-radius: 6px;
    display: flex;
    min-height: 70vh;
    margin-top: 20px;
    margin-bottom: 5px;
    min-width: 744px;
}
p{
    margin: 0px;
}

.container_Info_Usuario{
    width: 80%;
    padding-top: 10px;
    border-left: 1px solid rgb(168, 163, 163);
}

.container_Temas_Usuario{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 20%;
    padding-top: 10px;
}
.tema{
    display: flex;
    padding: 10px;
    align-items: center;

}

.label_Tab{
   padding-left: 5px;
   width: max-content;
   height: max-content;
   cursor: pointer;
   transition: all 400ms ease;
}

.label_Tab p{

    font-size: 16px;
    color: rgb(79, 98, 118);
    font-weight: normal;
    cursor: pointer;
}

.label_Tab p:hover{
    color:rgb(235, 98, 98);
    
}





/*TAB CONFIGURATION*/
.tab2{
    width: 100%;
    
}
.tab1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}

.tab3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*MILIBRO*/
.container_MiLibro{
    width:max-content;
    
}
.container_Favoritos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    padding-top: 10px;
    
}

.button_MiLibro{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    outline: none;
    border: none;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 24%);
    border-radius: 6px;
    overflow: hidden;
    transition: all .2s;
    transition: transform .1 ease-in-out;
}

.button_MiLibro:hover{
    border: 1px solid rgb(245, 142, 142);
    cursor: pointer;
    transform: perspective(2000px)translateZ(2rem);
    
}
.Libro_Imagen_MiLibro{
    width: max-content;
    height: max-content;
    
}

.imagen_MiLibro_Particular{
    width: 220px;
    height: 220px;
    
    
}

.titulo_MiLibro_Particular{
    width: 220px;
    height: max-content;
    font-size: 16px;
    color: rgba(0,0,0,.8);
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.35;
}

.div_Sin_Libros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.h1_Sin_Libros{
    padding-top: 10px;
    font-size: 16px;
    height: 120px;
    color: #999;
    vertical-align: middle;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
}

.h1_Sin_Libros2{
    padding-top: 10px;
    font-size: 20px;
    height: 120px;
    color: #999;
    vertical-align: middle;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
}
/*FAVORITOS*/
.Libro_Imagen_Perfil{
    justify-self: center;
}

.titulo_Perfil{
    justify-self: flex-start;
    padding-left: 10px;
}

.btn_Agregar_Carrito{

    border: 2px solid rgb(255, 105, 98);
    border-radius: 30px;
    width: 164px;
    height: 42px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgb(255, 105, 98);
    background-color: rgb(255, 255, 255);
    justify-self: center;
}

.btn_Agregar_Carrito:hover{
    cursor: pointer;
    border: 1px solid rgb(250, 139, 133);
}

.btn_Delete_favorito{
    justify-self: center;
}
/*FAVORITOS*/

/*MIS COMPRAS*/
.container_Search_Compra{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 24%);
    border-radius: 6px;
    margin-top: 20px;
    
}

.Button_Search_Compras,
#estado_Selection,
#fecha_Selection{
    cursor: pointer;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 24%);
    border-radius: 6px;
    border: none;
    outline: none;    
}

.Button_Search_Compras:hover,
#estado_Selection:hover,
#fecha_Selection:hover{
    
    border:1px solid rgb(240, 126, 120);
    
}

.Button_Search_Compras{
    height: max-content;
    padding: 0px 4px ;
   
}

.Compras_Cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 40px 0px 4px 0px;
    margin: 15px 0px;
    border-radius: 2px;
    min-width: 406px;
    align-items: center;
    
}

.Compras_Cards p{
    text-align: center;
    
}

.Venta_Info_General{
    font-weight: bold;
    font-size: 21px;
    line-height: 20px;
}

.portada_Libro_Particular_Perfil{
    width: 75px;
    height: 90px;
    border-radius: 0.3rem;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 1px 2px);
    object-fit: cover;
}
.titulo_Libro_Particular_Perfil{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: #0F1111;
    font-family: serif;
}
.precio_Libro_Particular_Perfil{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
.precio_Libro_Particular_Perfil,
.precio_Libro_General_Perfil,
.titulo_Libro_General_Perfil{
    display: flex;
    align-items: center;
    justify-content: center;
}
.separador{
    width: 100%;
    height: 10px;
    grid-column: 1/5;
    padding: 8px 0px;
    
}

.separador hr{
    background-color: rgb(5, 1, 1); 
    height: 1.5px; 
    border: 0;
    
}
.info_General_Hr{
    grid-column: 1/5;
    margin: 20px 0px;
}

.divLibroInfo{
    grid-column: 4/5;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 12px;
    padding: 5px;
}

.Libro_Particular_Perfil{
    font-weight: bold;
    line-height: 16px;
    font-size: 17px;
}
.separadorLibros{
    grid-column: 1/4;
    padding: 4px 0px;
}

.div_Sin_Compras{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-column: 1/5;
}
.div_Sin_Compras img{
    width: 200px;
    height: 120px;
}
.div_Sin_Compras h1{

    padding-top: 10px;
    font-size: 16px;
    height: 120px;
    color: #999;
    vertical-align: middle;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;

}
.div_Compra_Fail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-column: 1/5;
}
.h1_Compra_Fail{
    font-size: 16px;
    height: 120px;
    color: #999;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
}



.red{
    color: red;
}

.green{
    color: green;
}
/*MIS COMPRAS*/


.content{
    display: none;
    width: 80%;
    margin: 0 auto;
}

.content1{
    position: relative;
}
.content2{
    position: relative;
}
.content3{
    position: relative;
    min-width: 547px;
}

.tab{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.container_Sin_Favoritos{
    height : 100%;
    display : flex;
    align-items : center;
    flex-direction: column;
    justify-content : center;
}

.mensaje_Sin_Favoritos{
    padding-top: 10px;
    color: #999;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width:1030px) and (min-width:660px){
    .container_Favoritos{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    
    .Libro_Imagen_Perfil{
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .titulo_Libro_Particular{
        grid-row: 2/3;
        grid-column: 1/2;
        align-self: flex-start;
        justify-self: center;
        text-align: center;
    }
}


@media screen and (max-width:1020px){

    .tab3{
        align-items: center;
    }
    .container_Search_Compra{
        flex-direction: column;
        align-items: center;
        width: max-content;
        box-shadow: none;
        border-radius: 0px;
    }

    .estado_Selection_Container,
    .Button_Search_Compras,
    .fecha_Selection_Container,
    #estado_Selection{
        width: 100%;
        margin: 0;
    }

}

@media screen and (max-width:725px){

    .main_Perfil{
        flex-direction: column;
        
    }
    .container_Info_Usuario{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:660px){

    .container_Info_Usuario{
        margin: 0 auto;
    }
    .container_Favoritos{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 20px;
        align-items: center;
    }
    .titulo_Libro_Particular{
        padding: 0px;
        text-align: center;
    }
   
    .btn_Agregar_Carrito{
        order: 3;
    }
}

.footer{
    min-width: 448px;
}
/*ACTIVE ELEMENTS CONFIG*/
.activo{
    position: static;
    opacity: 1;
    visibility: visible;
}
.contentActivo{
    display: block;
}

.labelActivo p{
    color: rgb(235, 98, 98);
}

#radio1,#radio2,#radio3{
    display: none;
}
#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3{
    opacity: 1;
    visibility: visible;
    transform: scale(1);

}