<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/CarroStyle.css">
    <link rel="stylesheet" href="../css/NavVar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Della+Respira&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3566373430.js" crossorigin="anonymous"></script>
    <title>Borboteca</title>
</head>
<body>
    <div class="web_Container">
        <nav id="index-nav" class="nav_flex_Container"> 
            
        </nav>
        <main class="mainCarro">       
        <button class="button_Volver_Menu">Volver</button>    
        <h2 class="h2_Carrito">Carrito</h2>     
        <article class="carrito_Flex_Container carrito_Container">           
            <section class="carrito_Flex_Item carrito_SubContainer">
                
            </section>
            <section class="carrito_Flex_Item carrito_Venta">
                <p class="total_Venta carrito_Venta_Item"></p>
                <p class="precio_Venta carrito_Venta_Item"></p>
            </section>
        </article>
        </hr>
        </main>
        <footer class="footer">
            <ul class="footer__ul">
                <li class="footer__li">
                    <p>Contacto</p>
                    <a href="#">22-4434-4545</a>
                </li>
                <li class="footer__li">
                    <p>Seguinos</p>
                    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                </li>
                
            </ul>
            
        </footer>
    </div>
    <script src="../js/InitCarro.js" type="module"></script>
</body>
</html>