<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/cards-libros.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/libros-index.css">  
    <link rel="stylesheet" href="../css/NavVar.css">
	<link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3566373430.js" crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <link rel="shortcut icon"  href="../img/Logo.png">
    <title>Borboteca-libros</title>
</head>
<body>
    <input type="button" value="Download PDF File"/>
    
    <div id="boton1"></div>
    <div class="web_Container">
        <nav id="index-nav" class="nav_flex_Container  Grid_Item"></nav>
        <main class="main Grid_Item">

            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/img/Imagenes de baner/CASAN_AS_CORAZONDEAMAZONITA_BANNER_CUSPIDE.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/Imagenes de baner/del_fondo___cronicas_del_futuro_que_nunca_llega.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/Imagenes de baner/destructora_de_reinos_preventa1200x300.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/Imagenes de baner/Hopendath_III_1200x300.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/Imagenes de baner/La_comunidad_1200x300.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/Imagenes de baner/RH_Campa_a_Navidad_Banner_ficcion_1200x300_NOV21.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/Imagenes de baner/sigmar__cuentos_Sueltos_Cuspide (1).jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/Imagenes de baner/sigmar__cuentos_Sueltos_Cuspide.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div> 


            <div class="grid-container">
                <div class="cards grid-item " id="root"></div>
                <ul id="booklist"></ul>
                <div class="pagination" id="indexer">
                    <li><a id="anterior" href="#">Anterior</a></li>
                    <li><a id="siguiente" href="#">Siguiente</a></li>
                </div>
            </div>
            <footer class="footer Grid_Item">
                <ul class="footer__ul">
                    <li class="footer__li">
                        <p>Contacto</p>
                        <a href="#">22-4434-4545</a>
                    </li>
                    <li class="footer__li">
                        <p>Seguinos</p>
                        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                    </li>
                    
                </ul>
            </footer>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> 
    
    <script src="https://kit.fontawesome.com/a501f3f174.js" crossorigin="anonymous"></script>
    <script type="module" src="../js/services/libros-index.js"></script>
    <script type="module" src="../js/index.js"></script>
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
</body>
</html>