<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/libros-index.css">
    <link rel="stylesheet" href="../css/cards-libros.css">
	<link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title>Borboteca-libros</title>
</head>
<body>
    <div class="web_Container">
        
        <nav id="index-nav" class="nav_flex_Container"></nav>
        <main class="main Grid_Item">
            <div class="grid-container">
                <div class="cards grid-item " id="root"></div>
                <ul id="booklist"></ul>
                <div class="pagination" id="indexer">
                    <li><a id="anterior" href="#">Anterior</a></li>
                    <li><a id="siguiente" href="#">Siguiente</a></li>
                </div>
            </div>
            <footer class="footer Grid_Item">
                <ul class="footer__ul">
                    <li class="footer__li">
                        <p>Contacto</p>
                        <a href="#">22-4434-4545</a>
                    </li>
                    <li class="footer__li">
                        <p>Seguinos</p>
                        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                    </li>
                    
                </ul>
            </footer>
        </main>
    </div>
    <script src="https://kit.fontawesome.com/a501f3f174.js" crossorigin="anonymous"></script>
    <script type="module" src="../js/index.js"></script>
    <script type="module" src="../js/services/filtro-libros.js"></script>
    <script type="module" src="../node_modules/jwt-decode/build/jwt-decode.js"></script>
</body>
</html>