<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/libros-index.css">
	<link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Borboteca</title>
</head>

<body>
	
	<!-- input tag -->
	<input type="text" id="myInput" placeholder="Search for books..">
	
	<!-- ordered list -->
	<ul id='booklist'></ul>
</body>



<body>
    <div class="top-nav">
        <nav>
            <ul>
                <figure>
                    <a href="#" class="logo-3">Borbo <span>teca</span> </a>
                </figure>
                <div class="search-container">
                    
                    <form action="/action_page.php">
                        <input type="text" placeholder="Buscar libros" name="search">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                    
                </div>
                
            </ul>
        </nav>
    
    </div>
    <div class="wrapper-flex">
        <div id="root">
        </div>
    </div>
    
    <script type="module" src="../js/index.js"></script>
    <script type="module" src="../js/services/filtro-libros.js"></script>


</body>
</html>