<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login borboteca</title>
    <link rel="stylesheet" href="../css/LogginStyle.css">
  </head>
  <body>
    <img id="ImagenFondo" src="" alt="">
    <div class="login-box">
      <img src="../img/Logo.png" class="avatar" alt="Avatar Image">
      <h1>Borboteca Digital</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Nombre de usuario</label>
        <input id="Usuario" type="text" placeholder="Ingresa tu usuario">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input id="Contra" type="password" placeholder="Ingresa tu contraseña">
        <input id="BtnRegistrar" type="button" value="Ingresar a borboteca">
        
        <a href="http://127.0.0.1:5501/Borboteca-Frontend/view/Registrar.html">Registrarse</a>
      </form>
    </div>
    <script src="../js/InitLoggin.js" type="module"></script>
  </body>
</html>
