<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registrarse borboteca</title>
    <link rel="stylesheet" href="../css/RegistrarseStyle.css">
    <link rel="shortcut icon"  href="../img/Logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <img id="ImagenFondo" src="" alt="">
    <div class="login-box">
      <img src="../img/avatarlogo.png" class="avatar" alt="Avatar Image">
      <h1>Borboteca Digital</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Nombre</label>
        <input id="Usuario" type="text" placeholder="Ingresa tu Nombre">
        <!-- apellido INPUT -->
        <label for="apellido">Apellido</label>
        <input id="apellido" type="text" placeholder="Ingresa tu Apellido">
        <!-- email INPUT -->
        <label for="email">Email</label>
        <input id="email" type="text" placeholder="Ingresa tu Email">
        <!-- contraseña INPUT -->
        <label for="Contra">Contraseña</label>
        <input id="Contra" type="password" placeholder="Ingresa tu contraseña">
        <!-- boton registrar -->
        <input id="BtnRegistrarUser" type="button" value="Registrarse en borboteca">
        
      </form>
    </div>
    <script src="../js/validator/registerValidator.js"></script>
    <script src="../js/initRegistrarse.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  </body>
</html>
